
html,
body,
#root {
  background-color: #000;
  color: #fff;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
