html,body,#root{color:#fff;overflow:hidden;background-color:#000;width:100vw;height:100vh;margin:0;padding:0;font-family:Lexend,sans-serif;font-size:18px;font-weight:300}@keyframes spin{0%{transform:rotate(0)}to{transform:rotate(360deg)}}
